html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
}

html {
  font-display: block;
  font-family: token("font-family", "default");
  font-size: font-size-px("uno");
  line-height: token("line-height", "body");
  background-color: token("color-for", "background");
  color: token("color-for", "text");

  @include break($from: "medium") {
    font-size: font-size-px("kilo");
  }
}

body {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-core;
}

h1 {
  @include heading-for-block("large", $unit: "em");
}

h2 {
  @include heading-for-block("normal", $unit: "em");
}

h3 {
  @include heading-for-block("small", $unit: "em");
}

h4,
h5,
h6 {
  @include heading-for-block("exsmall", $unit: "em");
}

p,
blockquote,
ul,
ol {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: token("color-for", "text-selection");
  color: token("color-for", "text-strong");
}

::-moz-selection {
  background-color: token("color-for", "text-selection");
  color: token("color-for", "text-strong");
}

button {
  font-family: inherit;
}

ul,
ol {
  li {
    list-style-type: none;
  }
}

table {
  border-collapse: collapse;
}

code {
  font-family: token("font-family", "monospace");
}

small {
  font-size: font-size-em(-2);

  h1 &,
  h2 &,
  h3 & {
    font-size: font-size-em(-5);
  }
}

address {
  font-style: normal;
}

a,
a:visited {
  text-decoration: none;
  color: currentcolor;
}

label,
input {
  display: block;
}

mark {
  @include all-caps;

  font-weight: bold;
  background-color: transparent;
  color: color("purple-active");
}

::placeholder {
  color: color("grey", 50%);
}

::--webkit-input-placeholder {
  color: color("grey", 50%);
}

::--moz-placeholder {
  color: color("grey", 50%);
}

fieldset {
  padding: 0;
  border: 0;

  &:disabled {
    opacity: 0.4;
  }
}
