html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-family: token("font-family", "default");
  font-size: font-size-px("uno");
  line-height: token("line-height", "body");
  background-color: token("color-for", "background");
  color: token("color-for", "text");

  @include break($from: 'medium') {
    font-size: font-size-px('kilo');
  }

  @include break($from: 'large') {
    font-size: font-size-px('mega');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-core;
}

h1 {
  @include heading-for-block("exlarge", $unit: "rem");
}

h2 {
  @include heading-for-block("normal", $unit: "rem");
}

h3 {
  @include heading-for-block("small", $unit: "rem");
}

h4,
h5,
h6 {
  @include heading-for-block("exsmall", $unit: "rem");
}

p {
  margin: 0;
}

::selection {
  background-color: token("color-for", "text-selection");
  color: token("color-for", "text-strong");
}

::-moz-selection {
  background-color: token("color-for", "text-selection");
  color: token("color-for", "text-strong");
}

button {
  font-family: inherit;
}

ul,
ol {
  padding: 0;

  li {
    list-style-type: none;
  }
}

table {
  border-collapse: collapse;
}

code {
  font-family: token("font-family", "monospace");
}
