<section id="ajandek" class="c-Screen__Section c-Screen__Section--Ajandek">
  <div class="c-ContentBlock c-ContentBlock--Centered">
    <h2>
      Ajándékozz szépséget
    </h2>
    <p class="u-TextAlignLeft">
      Lepd meg Arctorna Workshop ajándékutalvánnyal azokat, akik számodra igazán
      fontosak! Mi lehet értékesebb ajándék, mint egy életre szóló tudás,
      és egy palack az örök fiatalság vizéből? ;)
    </p>
    <div class="u-MarginTopLarge">
      <a href="{{ site.baseurl }}{% link ajandek.md %}" class="c-Button">
        Ajándékozok
      </a>
    </div>
  </div>
</section>
