<ul class="c-List">
  {% for event in include.data %}
  <li class="c-List__Item">
    <div class="c-Event">
      <time class="c-Event__Date" datetime="2018-09-01">
        <span class="c-Event__Month">
          {% assign m = event.date | date: "%-m" %} {% case m %} {% when '1' %}január {% when '2' %}február {% when '3' %}március {%
          when '4' %}április {% when '5' %}május {% when '6' %}június {% when '7' %}július {% when '8' %}augusztus {% when
          '9' %}szeptember {% when '10' %}október {% when '11' %}november {% when '12' %}december {% endcase %}
        </span>
        <span class="c-Event__Day">{{ event.date | date: "%e" }}</span>
        <span class="c-Event__DayOfWeek">
          {% assign d = event.date | date: "%w" %}
          {% case d %}
            {% when '1' %}hétfő
            {% when '2' %}kedd
            {% when '3' %}szerda
            {% when '4' %}csütörtök
            {% when '5' %}péntek
            {% when '6' %}szombat
            {% when '0' %}vasárnap
          {% endcase %}
        </span>
        <span class="c-Event__Time">{{ event.start }}{% if event.end %}–{{ event.end }}{% endif %}</span>
      </time>
      <div class="c-Event__Details">
        <div class="c-Event__Title">{{ event.title }}</div>
        <address class="c-Event__Address">{{ event.address }}</address>
        <div class="c-Event__Price">
          {% assign price_desc = event.price_desc | default: include.price_desc %}
          {% if price_desc %}
            <span class="c-Event__PriceDesc">{{ price_desc }}</span>
          {% endif %}
          <strong class="u-NoWrap">{{ event.price | default: include.price }} Ft</strong>
        </div>
        {% if event.description %}
        <p class="c-Event__Description">{{ event.description }}</p>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
