<ul class="c-List">
  {% for event in include.data %}
    {% capture now %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture eventdate %}{{ event.date | date: '%s' }}{% endcapture %}
    {% if eventdate > now %}
      <li class="c-List__Item">
        <div class="c-Event{% if event.full or event.postponed or event.pending %} c-Event--Unavailable{% endif %}">

          <time class="c-Event__Date" datetime="{{ event.date | date_to_xmlschema }}">
            <span class="c-Event__Month">{%- include month.html date = event.date -%}</span>
            <span class="c-Event__Day">{{- event.date | date: "%e" -}}</span>
            <span class="c-Event__DayOfWeek">{%-  include weekday.html date = event.date -%}</span>
            <span class="c-Event__Time">{{ event.start }}{% if event.end %}–{{ event.end }}{% endif %}</span>
          </time>

          <div class="c-Event__Details">
            <div class="c-Event__Title">{{ event.title }}</div>

            <address class="c-Event__Address">{{ event.address | default: include.address }}</address>

            <div class="c-Event__Price">
              {% assign price_desc = event.price_desc | default: include.price_desc %}
              {% if price_desc %}
              <span class="c-Event__PriceDesc">{{ price_desc }}</span>
              {% endif %}
              <strong class="u-NoWrap">{{ event.price | default: include.price }} {{ event.currency | default: "Ft" }}</strong>
            </div>

            {% if event.full %}
              <div class="c-Event__Tag">Megtelt</div>
            {% elsif event.postponed %}
              <div class="c-Event__Tag">Elhalasztva 😕</div>
            {% elsif event.pending %}
              <div class="c-Event__Tag">Függőben<div>
            {% endif %}

            {% if event.classes %}
              <div class="u-MarginTop">
                {% for class in event.classes %}
                  <div class="c-Class{% if class.alt %} c-Class--Alt{% endif %}{% if class.alt %} u-Hint{% endif %}" {% if class.alt %}title="Alternatív lehetőség"{% endif %}>
                    <span class="c-Class__Day">{{ class.day }}</span>
                    <span class="c-Class__Time">{{ class.time }}</span>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% assign description = event.description | default: include.description %}
            {% if description %}
              <div class="c-Event__Description">
                {{ description | markdownify }}
              </div>
            {% endif %}
            {% if event.link %}
              <div class="c-Event__Link">
                <a class="c-Link" href="{{ event.link }}">További infók</a>
              </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
