<footer class="c-MainFooter">
  <nav class="c-Menu">
    <a class="c-Menu__Item" href="{% link index.md %}">Az arctornáról</a>
    <a class="c-Menu__Item" href="{% link workshop.md %}">Workshop</a>
    <a class="c-Menu__Item" href="{% link trening.md %}">Tréning</a>
    <a class="c-Menu__Item" href="{% link monirol.md %}">Móniról</a>
    <a class="c-Menu__Item" href="{% link kerdesek.md %}">Kérdések és válaszok</a>
    <a class="c-Menu__Item" href="https://arctornamonival.blog.hu">Blog</a>
    <a class="c-Menu__Item" href="https://www.facebook.com/arctornamonival/">Facebook</a>
  </nav>
</footer>
