<section id="joyo" class="c-Screen__Section c-Screen__Section--Joyo">
  <div class="c-ContentBlock">
    <h2 class="u-TextAlignCenter">
      <br />Elkészült arctorna alkalmazásunk!
    </h2>
    <div class="c-Article">
      <p>
        Hamarosan mindenki számára elérhető lesz vadonatúj
        online arctorna alkalmazásunk, a <strong>Joyo</strong>
        <small>(ejtsd:&nbsp;dzsojó)</small>, ami megtanít arctornázni, és
        vezetett edzésprogramokkal segít a rendszeres tornában. <strong>Ha már
        most szeretnéd használni</strong>, add meg az email címed, és küldöm
        a&nbsp;részleteket!
      </p>
    </div>
  </div>
  <div class="c-ContentBlock c-ContentBlock--Form">
    <div class="u-MarginTopLarge">
      <form novalidate id="joyo-signup-form">
        <fieldset id="joyo-signup-fieldset">
          <div class="c-FormField c-FormField--Inline">
            <div class="u-FlexGrow">
              <label class="u-VisuallyHidden" for="email">Email címed</label>
              <input
                class="c-FormInput"
                id="joyo-email-input"
                name="email"
                type="email"
                value=""
                placeholder="email címed"
              />
              <input
                id="joyo-password-input"
                name="password"
                type="text"
                style="display: none !important;"
                tabindex="-1"
                autocomplete="off"
                value=""
              />
            </div>
            <button class="c-FormButton" type="submit">→</button>
          </div>
        </fieldset>
        <div class="c-FormFieldErrors" id="joyo-email-error"></div>
      </form>
    </div>
  </div>
</section>
