<section id="joyo" class="c-Screen__Section c-Screen__Section--Joyo">
  <div class="c-ContentBlock">
    <h2 class="u-TextAlignCenter">
      <small>Jön, jön, jön…</small>
      <br />Joyo, az arctorna alkalmazás
    </h2>
    <div class="c-Article">
      <p>
        Gőzerővel dologozunk egy szuper
        <strong>online arctorna</strong> programon!! Részleteket még nem
        szeretnénk elárulni, annyit viszont igen, hogy a vadonatúj alkalmazáshoz
        új név is érkezik: <strong>Joyo</strong>
        <small>(ejtsd:&nbsp;dzsojó)</small>&nbsp;😊 Maradj vonalban, és
        értesítünk a&nbsp;fejleményekről!
      </p>
    </div>
  </div>
  <div class="c-ContentBlock c-ContentBlock--Form">
    <div class="u-MarginTopLarge">
      <form novalidate id="joyo-signup-form">
        <fieldset id="joyo-signup-fieldset">
          <div class="c-FormField c-FormField--Inline">
            <div class="u-FlexGrow">
              <label class="u-VisuallyHidden" for="email">Email címed</label>
              <input
                class="c-FormInput"
                id="joyo-email-input"
                name="email"
                type="email"
                value=""
                placeholder="email címed"
              />
              <input
                id="joyo-password-input"
                name="password"
                type="text"
                style="display: none !important;"
                tabindex="-1"
                autocomplete="off"
                value=""
              />
            </div>
            <button class="c-FormButton" type="submit">→</button>
          </div>
        </fieldset>
        <div class="c-FormFieldErrors" id="joyo-email-error"></div>
      </form>
    </div>
  </div>
</section>
