<section id="joyo" class="c-Screen__Section c-Screen__Section--Joyo">
  <div class="c-ContentBlock c-ContentBlock--Centered">
    <h2 class="u-TextAlignCenter">
      <small>Online Arctorna</small>
      <br />Joyo program
    </h2>
    <div class="c-Article">
      <p class="u-TextAlignLeft">
        Vadonatúj online arctorna alkalmazásunk saját tempódban tanít
        arctornázni, és vezetett edzésprogramokkal segít a rendszeres tornában,
        kezdőtől haladó szintig.
        <strong>Óriási kedvezmény az első 500 előfizetőnek!</strong>
      </p>
    </div>
    <div class="u-MarginTopLarge">
      <a href="https://joyo.fit" class="c-Button">Joyo arctorna</a>
    </div>
  </div>
</section>
