<section class="c-Screen__Section c-Screen__Section--Inverse c-Screen__Section--InverseSeparated">
  <div class="c-ContentBlock u-TextAlignCenterML">
    <p>
      Ha szeretnél <mark>szuper szépségtippeket</mark> kapni tőlem, és
      értesülni izgalmas arctornás eseményekről, iratkozz fel hírlevelemre:
    </p>
  </div>
  <div class="c-ContentBlock c-ContentBlock--Form u-MarginTop">
    <form action="https://facebook.us18.list-manage.com/subscribe/post?u=99a21491fcdc5fef486a6328c&amp;id=0a13b5b86f" method="post" target="_blank" novalidate>
      <div class="c-FormField c-FormField--Inline">
        <div class="u-FlexGrow">
          <label class="u-VisuallyHidden" for="email">Email címed</label>
          <input class="c-FormInput u-TextAlignCenter" id="email" type="email" name="EMAIL" value="" placeholder="Email címed">
        </div>
        <button class="c-FormButton" type="submit">→</button>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_99a21491fcdc5fef486a6328c_0a13b5b86f" tabindex="-1" value="">
        </div>
      </div>
    </form>
  </div>
</section>
