<section id="trening" class="c-Screen__Section c-Screen__Section--Training u-PaddingTop">
  <div class="c-ContentBlock c-ContentBlock--Centered">
    <h2>
      <small>Exkluzív program</small>
      <br />Tavaszi szépségtábor
    </h2>
    <p class="u-TextAlignLeft">
      Három nap, ami csak a szépségről és rólad szól.
      Arctorna, jóga, smink, relaxáció és szépséget támogató ételek. Fókuszban a
      természetes szépség és&nbsp;megújulás.
    </p>
    <div class="u-MarginTopLarge">
      <a href="{{ site.baseurl }}{% link szepsegtabor.md %}" class="c-Button">
        Nézd meg mivel készülünk
      </a>
    </div>
  </div>
</section>
