@mixin body-copy {
  font-size: font-size-rem("uno");
  line-height: token("line-height", "body");
  max-width: token("line-length", "default") * 1em;
}

@mixin all-caps {
  text-transform: uppercase;
  letter-spacing: .05em;
}
