.u-debug {
  outline: 1px solid red !important;
}

.u-FlexImage {
  width: 100% !important;
  max-width: 100% !important;
}

.u-MarginTopZero {
  margin-top: 0 !important;
}

.u-MarginTop {
  margin-top: space-rem(1) !important;
}

.u-MarginTopLarge {
  margin-top: space-rem(1.5) !important;
}

.u-MarginTopXLarge {
  margin-top: space-rem(2) !important;
}

.u-MarginBottomZero {
  margin-bottom: 0 !important;
}

.u-MarginBottom {
  margin-bottom: space-rem(1) !important;
}

.u-MarginBottomLarge {
  margin-bottom: space-rem(1.5) !important;
}

.u-MarginBottomLarge {
  margin-bottom: space-rem(2) !important;
}

.u-PaddingTopZero {
  padding-top: 0 !important;
}

.u-PaddingTop {
  padding-top: space-rem(1) !important;
}

.u-PaddingTopLarge {
  padding-top: space-rem(1.5) !important;
}

.u-PaddingTopXLarge {
  padding-top: space-rem(2) !important;
}

.u-PaddingBottomZero {
  padding-bottom: 0 !important;
}

.u-PaddingBottom {
  padding-bottom: space-rem(1) !important;
}

.u-PaddingBottomLarge {
  padding-bottom: space-rem(1.5) !important;
}

.u-PaddingBottomXLarge {
  padding-bottom: space-rem(2) !important;
}

.u-AllCaps {
  @include all-caps;
  font-size: font-size-em(-1);
}

.u-TextAlignLeft {
  text-align: left !important;
}

.u-TextAlignRight {
  text-align: right !important;
}

.u-TextAlignCenter {
  text-align: center !important;
}

.u-OptimalLineLength {
  max-width: token("line-length", "default") * 1em !important;
}

.u-NoWrap {
  white-space: nowrap !important;
}
