.u-debug {
  outline: 1px solid red;
}

.u-FlexImage {
  width: 100%;
  max-width: 100%;
}

.u-NoTopMargin {
  margin-top: 0;
}

.u-MarginTop {
  margin-top: space-rem(1);
}

.u-MarginTopLarge {
  margin-top: space-rem(2);
}
