.c-Collection {
  display: flex;
  flex-wrap: wrap;
  margin-left: space-rem(.5) * -1;
  margin-right: space-rem(.5) * -1;
}

.c-Collection__Item {
  width: 50%;
  padding: space-rem(.5);
  font-size: font-size-px("milli");

  @include break($from: "medium") {
    width: 33.333333333%;
  }
}
