@include token(
  "c-Collection", (
    "space": space-rem(1.5)
  )
);

.c-Collection {
  @include break($from: 600px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: token("c-Collection", "space") * -1;
    margin-right: token("c-Collection", "space") * -1;
  }
}

.c-Collection__Item {
  font-size: font-size-px("milli");

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  @include break($from: 600px) {
    margin-bottom: 0;
    padding: token("c-Collection", "space");
    width: 50%;
  }

  @include break($from: "medium") {
    width: 33.33%;
  }
}

.c-Collection--Contoured {
  $box-padding: space-rem(1.5);
  $box-margin: space-rem(.5);

  @include break($from: 600px) {
    margin-left: $box-padding * -1;
    margin-right: $box-padding * -1;
  }

  .c-Collection__Item {
    @include break($from: 600px) {
      width: calc(50% - #{$box-margin * 2});
      margin: $box-margin;
      padding: $box-padding;
      border: token("border", "thick-subtle");
      border-radius: token("radius", "large");
    }
    @include break($from: "medium") {
      width: calc(33.33% - #{$box-margin * 2});
    }
  }
}

.c-Collection--Boxed {
  .c-Collection__Item {
    @include break($from: 600px) {
      border: none;
      background-color: token("color-for", "background-alt");
      border-radius: token("radius", "medium");
    }
  }
}
