.c-ContentBlock {
  max-width: token("line-length", "default") * 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.c-ContentBlock--Prominent {
  font-size: font-size-em(1);
}

.c-ContentBlock--Stretched {
  max-width: none;
  margin-left: token("screen", "padding") * -1;
  margin-right: token("screen", "padding") * -1;
}

.c-ContentBlock--Centered {
  text-align: center;
}
