.c-Screen {
  flex: 0 0 auto;
}

.c-Screen__Section {
  overflow: hidden;
  padding-left: token("screen", "padding");
  padding-right: token("screen", "padding");
  padding-top: space-rem(3);
  padding-bottom: space-rem(3);
}

.c-Screen__Section--Header {
  padding-top: space-rem(8);
}

.c-Screen__Section--HeaderWithIncipit {
  padding-top: space-rem(5);
}

.c-Screen__Section--Plain {
  & + & {
    border-top: token("border", "thick-subtle");
  }
}

.c-Screen__Section--Alt {
  background-color: token("color-for", "background-alt");
}

.c-Screen__Section--Misc {
  @include bg-polka-dots(color("peach"), $transparency: .4, $dotsize1: 10%, $dotsize2: 10%, $bgsize: 100px, $dark: false);
}

.c-Screen__Section--Inverse {
  background-color: token("color-for", "background-dark");
  color: token("color-for", "text-on-dark");
}

.c-Screen__Section--InverseSeparated {
  border-bottom: 2px solid color("grey", 90%);
}

.c-Screen__Section--Workshop {
  background-color: token("color", "yellow");
}

.c-Screen__Section--Training {
  background-color: token("color", "purple");
}

.c-Screen__Section--Ajandek {
  @include bg-polka-dots(token("color-for", "background-alt"), $transparency: .4, $dotsize1: 10%, $dotsize2: 10%, $bgsize: 100px, $dark: false);
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 200px;
    height: 35px;
    position: absolute;
    left: -50px;
    top: 10px;
    background-color: color("pink");
    transform: rotate(-45deg);
  }
}
