---
layout: default
---

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Separated">
    <div class="c-ContentBlock c-ContentBlock--Prominent c-ContentBlock--Centered">
      <h1>
        Az arcizmok edzeni&nbsp;akarnak!
      </h1>
      <p>
        Az arcizmok edzésével hatékonyan megemelheted, feszesítheted arcodat,
        kisimíthatod a ráncokat, vagy eltüntetheted a tokát. Rendszeres edzéssel
        akár 10–15 évet is fiatalodhat az arcod.
      </p>
    </div>
  </section>
  <section class="c-Screen__Section">
    <div class="c-ContentBlock">
      <h2>Mit érhetsz el arctornával</h2>
      <p>
        Az arc megereszkedésének és ráncosodásának egyik legfontosabb oka az arc
        izmainak meggyengülése. Edzés hiányában az izmok meggyengülnek, és az arc
        elveszíti tónusát. A legtermészetesebb megoldás az edzés!
      </p>
      <h3>
        Szemek környéke
      </h3>
      <p>
        A szem körüli izmok edzése megelőzi vagy kisimitja a szarkalábakat,
        halványítja a szem alatti karikákat, és feszesíti a szemhéjakat.
      </p>
      <h3>
        Homlok
      </h3>
      <p>
        A homlokizmok erősítésével visszahúzzuk a megereszkedett szemhéjakat,
        kisimítjuk a homlokot és a két szemöldök közötti ráncokat.
      </p>
      <h3>
        Orr melletti barázdák
      </h3>
      <p>
        Az edzés hatására megerősödő izmok feltöltik a mély barázdákat, vagy
        megelőzik azok kialakulását.
      </p>
      <h3>
        Ajkak
      </h3>
      <p>
        A rendszeres torna feltöli az elvékonyodott ajkakat, megemeli a lebiggyedő
        szájzugokat, és kisimítja az ajak körüli mimikai ráncokat.
      </p>
      <h3>
        Állvonal és arckontúr
      </h3>
      <p>
        Az arctorna gyakorlatok együttes hatására az állcsontra ráereszkedő bőrt
        felhúzzuk, ezáltal visszaállítjuk az arc elveszett kontúrját.
      </p>
      <h3>
        Nyak és toka
      </h3>
      <p>
        A nyakra irányuló intenzív gyakorlatok megelőzik vagy visszahúzzák a
        tokát, és feszessé teszik a nyak bőrét.
      </p>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Workshop">
    <div class="c-ContentBlock">
      <h2>
        Workshop
      </h2>
      <p>
        Ha még nem ismered az arctornát, gyere el a következő workshopra, ahol
        négy órában egy szuper hasznos bevezetést kapsz az arc izmainak módszeres
        edzésébe. A tanultak segítségével képes leszel feszesen tartani a teljes
        arcod és nyakad.
      </p>
      <a href="#" class="c-Button">Workshop</a>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Training">
    <div class="c-ContentBlock">
      <h2>
        Tréning
      </h2>
      <p>
        Ha pedig komolyan gondolod, és a lehető leggyorsabban szeretnél
        fejlődni, csatlakozz a következő arctorna tréning csoporthoz, ahol
        lépésről lépésre, kemény gyakorlás közben mesterévé válsz az
        arcterületek edzésének. Az órákon a sok tanulás és kemény edzés mellett
        szuper társaság és vidám hangulat vár rád.
      </p>
      <a href="#" class="c-Button">Tréning</a>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Alt">
    <div class="c-ContentBlock">
      <h2>
        …és még valami
      </h2>
      <p>
        Minden héten megosztok egy-két szuper tippet emailben. Ha szeretnéd te
        is megkapni ezeket, kérlek add meg email címedet. Ígerem, hogy nem
        foglak levelekkel bombázni, és nem is adom át címedet harmadik félnek.
      </p>
    </div>
  </section>
</main>
