---
layout: default
---

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Separated">
    <div class="c-ContentBlock--Stretched c-ContentBlock--Centered">
      <img class="u-FlexImage" src="assets/images/face-muscles-working-out-1440.jpg" alt="Kislány arcizmai keményen gyúrnak" style="max-width: 1200px" />
    </div>
    <div class="c-ContentBlock c-ContentBlock--Prominent c-ContentBlock--Centered">
      <h1 class="u-MarginTopZero">
        Az arcizmok edzeni&nbsp;akarnak!
      </h1>
      <p>
        Az arc megereszkedésének és ráncosodásának egyik legfontosabb oka az arc izmainak meggyengülése. Edzés hiányában az izmok
        meggyengülnek, és az arc elveszíti tónusát. A&nbsp;legtermészetesebb megoldás az&nbsp;edzés!
      </p>
      <div class="u-MarginTop">
        <a class="c-Button" href="#">Arctornázz velünk!</a>
      </div>
    </div>
  </section>
  <section class="c-Screen__Section u-PaddingBottom">
    <div class="c-ContentBlock c-ContentBlock--Wide">
      <h2>Mit érhetsz el arctornával</h2>
    </div>
    <div class="c-ContentBlock c-ContentBlock--Wide c-ContentBlock--Illustrated">
      <div class="c-ContentBlock__Content">
        <p>
          Az arcizmok edzésével megemelheted, feszesítheted arcodat, kisimíthatod a ráncokat, vagy eltüntetheted a tokát. Rendszeres
          edzéssel akár
          <strong>10–15&nbsp;évet&nbsp; fiatalodhat&nbsp;az&nbsp;arcod!</strong>
        </p>
      </div>
      <div class="c-ContentBlock__Illustration">
        <img class="u-FlexImage" src="assets/images/strong-girl.jpg" srcset="assets/images/strong-girl.jpg 1x, assets/images/strong-girl@2x.jpg 2x" alt="Lány keményen súlyzózik, de az arcizmokról megfeledkezik." />
      </div>
    </div>
    <div class="c-ContentBlock c-ContentBlock--Wide u-MarginTopLarge">
      <ul class="c-Collection">
        <li class="c-Collection__Item">
          <h3>
            Szemek környéke
          </h3>
          <p>
            A szem körüli izmok edzése megelőzi vagy kisimitja a szarkalábakat,
            halványítja a szem alatti karikákat, és feszesíti a szemhéjakat.
          </p>
        </li>
        <li class="c-Collection__Item">
          <h3>
            Homlok
          </h3>
          <p>
            A homlokizmok erősítésével visszahúzzuk a megereszkedett
            szemhéjakat, kisimítjuk a homlokot és a két szemöldök közötti
            ráncokat.
          </p>
        </li>
        <li class="c-Collection__Item">
          <h3>
            Orr melletti barázdák
          </h3>
          <p>
            Az edzés hatására megerősödő izmok feltöltik a mély barázdákat, vagy
            megelőzik azok kialakulását.
          </p>
        </li>
        <li class="c-Collection__Item">
          <h3>
            Ajkak
          </h3>
          <p>
            A rendszeres torna feltöli az elvékonyodott ajkakat, megemeli a
            lebiggyedő szájzugokat, és kisimítja az ajak körüli mimikai
            ráncokat.
          </p>
        </li>
        <li class="c-Collection__Item">
          <h3>
            Állvonal és arckontúr
          </h3>
          <p>
            Az arctorna gyakorlatok együttes hatására az állcsontra ráereszkedő
            bőrt felhúzzuk, ezáltal visszaállítjuk az arc elveszett kontúrját.
          </p>
        </li>
        <li class="c-Collection__Item">
          <h3>
            Nyak és toka
          </h3>
          <p>
            A nyakra irányuló intenzív gyakorlatok megelőzik vagy visszahúzzák a
            tokát, és feszessé teszik a nyak bőrét.
          </p>
        </li>
      </ul>
      <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopLarge">
        <img class="u-FlexImage" src="assets/images/supergroup.jpg" srcset="assets/images/supergroup.jpg 1x, assets/images/supergroup@2x.jpg 2x"
          alt="Mosolygó arctornázó lányok színes csoportja, és egy fiú" style="width: 400px;">
      </div>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Workshop u-PaddingTop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        <small>Arctorna</small>
        <br />
        Workshop
      </h2>
      <p>
        Ha még nem ismered az arctornát, gyere el a következő workshopra, ahol
        négy órában egy szuper hasznos bevezetést kapsz az arc izmainak módszeres
        edzésébe. A tanultak segítségével képes leszel feszesen tartani a teljes
        arcod és nyakad.
      </p>
      <div class="u-MarginTop">
        <a href="#" class="c-Button">Workshop</a>
      </div>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Training u-PaddingTop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        <small><span class="u-AllCaps">Komplett</span> Arctorna</small>
        <br />
        Tréning<sup><small>®</small></sup>
      </h2>
      <p>
        Ha pedig komolyan gondolod, és a lehető leggyorsabban szeretnél
        fejlődni, csatlakozz a következő arctorna tréning csoporthoz, ahol
        lépésről lépésre, kemény gyakorlás közben mesterévé válsz az
        arcterületek edzésének. Az órákon a sok tanulás és kemény edzés mellett
        szuper társaság és vidám hangulat vár rád.
      </p>
      <div class="u-MarginTop">
        <a href="#" class="c-Button">Tréning</a>
      </div>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Alt">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        …és még valami
      </h2>
      <p>
        Minden héten megosztok egy-két szuper tippet emailben. Ha szeretnéd te
        is megkapni ezeket, kérlek add meg email címedet. Ígerem, hogy nem
        foglak levelekkel bombázni, és nem is adom át címedet harmadik félnek.
      </p>
    </div>
  </section>
</main>
