---
layout: default
---

{% assign data = site.data.info %}

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Training">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h1>
        <small><span class="u-AllCaps">Komplett</span> Arctorna</small>
        <br />
        Tréning<sup><small>®</small></sup>
      </h1>
      <p class="u-TextAlignLeft">
        A Komplett Arctorna Tréning az általam ismert leggyorsabb és
        leghatékonyabb út a természetesen feszes archoz. A tréning során
        maximális figyelmet és támogatást kapsz, hogy az arcodhoz szabott
        gyakorlatokkal a leghamarabb elérhesd a kívánt eredményt.
        A tréning végére egy életre szóló arcfiatalító tudás birtokába jutsz.
      </p>
      <div class="u-MarginTopLarge">
        <a class="c-Button" href="#">Jövök a tréningre</a>
      </div>
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Inverse">
    <div class="c-ContentBlock">
      <p>
        Szeretnél szuper szépség tippeket kapni tőlem? Minden héten megosztok egy-két szuper tippet emailben. Ha szeretnéd te is
        megkapni ezeket, kérlek add meg email címedet. Ígerem, hogy nem foglak levelekkel bombázni. :)
      </p>
    </div>
  </section>
  <section class="c-Screen__Section u-PaddingBottom">
    <div class="c-ContentBlock">
      <h2>A tréning részletei</h2>
      <div class="c-Article">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga
          obcaecati recusandae, itaque reprehenderit ab adipisci repellat
          commodi dolor architecto nobis id incidunt laboriosam doloremque eum
          voluptates quam? Dicta, officiis?
        </p>
      </div>
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopXLarge">
      <img class="u-FlexImage" src="assets/images/supergroup.jpg" srcset="assets/images/supergroup.jpg 1x, assets/images/supergroup@2x.jpg 2x"
        alt="Mosolygó arctornázó lányok színes csoportja, és egy fiú" style="width: 400px;">
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Alt">
    <div class="c-ContentBlock">
      <h2>Regisztráció</h2>
      <div class="c-Article">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          assumenda sint aut odit blanditiis inventore vero nam itaque
          voluptatum iusto? Fugiat aspernatur obcaecati cupiditate, perferendis
          nobis eaque velit deleniti ducimus.
        </p>
      </div>
    </div>
    <div class="c-ContentBlock u-MarginTopXLarge">
      <h3>Következő indulási időpontok</h3>
      {% include events.html data = data.events.training price = data.training.price price_desc = data.training.price_desc %}
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopLarge">
      <a class="c-Button" href="#">Regisztrálok</a>
    </div>
  </section>
  <section id="workshop" class="c-Screen__Section c-Screen__Section--Workshop u-PaddingTop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        <small>Arctorna</small>
        <br /> Workshop
      </h2>
      <p class="u-TextAlignLeft">
        Ha még nem ismered az arctornát, gyere el a következő workshopra, ahol négy órában egy szuper hasznos bevezetést kapsz az
        arc izmainak módszeres edzésébe. A tanultak segítségével képes leszel feszesen tartani a teljes arcod és nyakad.
      </p>
      <div class="u-MarginTopLarge">
        <a href="{{ site.baseurl }}{% link workshop.md %}" class="c-Button">Workshop</a>
      </div>
    </div>
  </section>
</main>
