---
layout: default
---

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Training">
    <div class="c-ContentBlock c-ContentBlock--Prominent c-ContentBlock--Centered">
      <h1>
        <small><span class="u-AllCaps">Komplett</span> Arctorna</small>
        <br />
        Tréning<sup><small>®</small></sup>
      </h1>
      <p class="u-TextAlignLeft">
        Ha pedig komolyan gondolod, és a lehető leggyorsabban szeretnél fejlődni, csatlakozz a következő arctorna tréning csoporthoz,
        ahol lépésről lépésre, kemény gyakorlás közben mesterévé válsz az arcterületek edzésének. Az órákon a sok tanulás és
        kemény edzés mellett szuper társaság és vidám hangulat vár rád.
      </p>
    </div>
  </section>
</main>
