---
layout: default
---

{% assign data = site.data.info %}

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Workshop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h1>
        <small>Arctorna</small>
        <br />
        Workshop
      </h1>
      <p class="u-TextAlignLeft">
        Gyors és könnyed bevezetés az arc fiatalon tartásának természetes
        módszerébe. Gyakorlati megoldást kapsz arra, hogyan tüntesd el a tokát,
        a szem alatti karikákat, hogyan feszesítheted a szemhéjakat, hogyan
        töltheted fel az orr melletti barázdákat és az apró mimikai ráncokat.

        A workshop végén garantáltan bedurrant arcizmokkal és
        kisimultan távozol majd.
      </p>
      <div class="u-MarginTopLarge">
        <a class="c-Button" href="#">Jövök a workshopra</a>
      </div>
    </div>
  </section>

  {% include newsletter.html %}

  <section class="c-Screen__Section u-PaddingBottom">
    <div class="c-ContentBlock">
      <h2>Részletek</h2>
      <div class="c-Article">
        <p>
          Neked ajánlom a workshopot, ha nem hallottál még az arctornáról, a már
          hallottál róla, de még nem próbáltad módszeresen, ha még nincs zavaró
          problémád, de szeretnéd karbantartani az arcizmaidat (a megelőzés híve
          vagy) vagy, ha már nem feszes az arcod, vannak ráncaid, még
          bizonytalan vagy a Komplett Arctorna Tréninggel kapcsolatban. Magán
          arctorna workshopra is van lehetőség személyesen vagy skype-on.
        </p>
        <h3>
          Milyen hosszú a workshop?
        </h3>
        <p>
          A workshop hossza 4 óra, rövid pihenőkkel és kávészünettel blokkokra
          osztva.
        </p>
        <h3>
          Hányan vagyunk a workshopon?
        </h3>
        <p>
          A csapat létszámát 8 főre korlátoztam, mivel nagyobb létszám esetén
          nem tudnék mindenkire kellően odafigyelni. A minimum létszám 3 fő.
        </p>
        <h3>Neked ajánlom a workshopot…</h3>
        <ul class="u-MarginBottomZero">
          <li>ha nem hallottál még az arctornáról</li>
          <li>ha már hallottál róla, de még nem próbáltad</li>
          <li>ha még nincs zavaró problémád de szeretnéd karbantartani az arcizmaidat (a megelőzés híve vagy)</li>
          <li>ha már nem feszes az arcod, és vannak ráncaid</li>
          <li>még bizonytalan vagy a Komplett Arctorna Tréninggel kapcsolatban</li>
        </ul>
        <h3>Ez a leghatékonyabb út a feszes archoz?</h3>
        <p>
          Nem. Csak bevezető. Bár képes leszel otthon edzeni, ha a leggyorsabb
          utat szeretnéd, gyere el a tréningre.
        </p>
      </div>
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopXLarge">
      <img class="u-FlexImage" src="assets/images/supergroup.jpg" srcset="assets/images/supergroup.jpg 1x, assets/images/supergroup@2x.jpg 2x"
        alt="Mosolygó arctornázó lányok színes csoportja, és egy fiú" style="width: 400px;">
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Alt">
    <div class="c-ContentBlock">
      <h2>Regisztráció</h2>
      <div class="c-Article">
        <p>
          A helyfoglaláshoz szükséges 4&nbsp;000&nbsp;Ft előleg, melyet kérek
          szépen előre átutalni. Az átutaláshoz szükséges adatokat a jelentkezés
          során fogod látni, de emailben is elküldöm. A fennmaradó
          összeget a workshopon kell fizetni.
        </p>
      </div>
    </div>
    <div class="c-ContentBlock u-MarginTopXLarge">
      <h3>Következő időpontok</h3>
      {% include events.html data = data.events.workshop price = data.workshop.price price_desc = data.workshop.price_desc %}
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopLarge">
      <a class="c-Button" href="#">Regisztrálok</a>
    </div>
  </section>
  <section id="trening" class="c-Screen__Section c-Screen__Section--Training u-PaddingTop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        <small>
          <span class="u-AllCaps">Komplett</span> Arctorna</small>
        <br /> Tréning
        <sup>
          <small>®</small>
        </sup>
      </h2>
      <p class="u-TextAlignLeft">
        Ha igazán komolyan gondolod az arctornát, és a lehető leggyorsabban
        szeretnél fejlődni, csatlakozz a következő arctorna tréning csoporthoz,
        ahol lépésről lépésre, kemény gyakorlás közben mesterévé válsz az
        arcterületek edzésének. Az órákon a sok tanulás és kemény edzés mellett
        szuper társaság és vidám hangulat vár rád.
      </p>
      <div class="u-MarginTopLarge">
        <a href="{{ site.baseurl }}{% link trening.md %}" class="c-Button">Tréning</a>
      </div>
    </div>
  </section>
</main>
