---
layout: default
---

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Workshop">
    <div class="c-ContentBlock c-ContentBlock--Prominent c-ContentBlock--Centered">
      <h1>
        <small>Arctorna</small>
        <br />
        Workshop
      </h1>
      <p class="u-TextAlignLeft">
        Ha még nem ismered az arctornát, gyere el a következő workshopra, ahol négy órában egy szuper hasznos bevezetést kapsz az
        arc izmainak módszeres edzésébe. A tanultak segítségével képes leszel feszesen tartani a teljes arcod és nyakad.
      </p>
    </div>
  </section>
</main>
