---
layout: default
---

{% assign data = site.data.info %}

<main class="c-Screen">
  <section class="c-Screen__Section c-Screen__Section--Workshop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h1>
        <small>Arctorna</small>
        <br />
        Workshop
      </h1>
      <p class="u-TextAlignLeft">
        Gyors és könnyed bevezetés az arc fiatalon tartásának természetes
        módszerébe. Gyakorlati megoldást kapsz arra, hogyan tüntesd el a tokát,
        a szem alatti karikákat, hogyan feszesítheted a szemhéjakat, hogyan
        töltheted fel az orr melletti barázdákat és az apró mimikai ráncokat.

        A workshop végén garantáltan bedurrant arcizmokkal és
        kisimultan távozol majd.
      </p>
      <div class="u-MarginTopLarge">
        <a class="c-Button" href="#">Jövök a workshopra</a>
      </div>
    </div>
  </section>

  {% include newsletter.html %}

  <section class="c-Screen__Section u-PaddingBottom">
    <div class="c-ContentBlock">
      <h2>Részletek</h2>
      <div class="c-Article">
        <p>
          A workshop intenzív négy órából áll, egy-két rövid szünettel. Egy
          rövid bevezető után teljes mértékben a gyakorlatra fókuszálunk. A
          workshop leghosszabb részében számos gyakorlatot tanulunk meg, melyek
          lefedik a teljes arcot és a nyakat. Ezután egy mini arctorna órában
          minden arcátjon végigmegyünk úgy, ahogy otthon kell majd gyakorolni. A
          workshopot egy kellemes arcmasszázzsal&nbsp;zárjuk.
        </p>
        <h3>
          Hányan vagyunk a&nbsp;workshopon?
        </h3>
        <p>
          A csapat maximális létszáma 9 fő, mivel nagyobb létszám esetén nem
          tudnék mindenkire kellően&nbsp;odafigyelni.
        </p>
        <h3>Kinek ajánlom a&nbsp;workshopot?</h3>
        <p>
          Bárkinek, aki szeretné természetes módszerrel fiatalon tartani az
          arcát, 20 évestől <span class="u-NoWrap">95 éves korig :)</span>
        </p>
        <h3>Van lehetőség magán workshopra?</h3>
        <p>Igen, személyesen és online is. Kérlek írj, és megbeszéljük&nbsp;a&nbsp;részleteket!</p>
        <h3>Van a workshopnál gyorsabb és hatékonyabb&nbsp;megoldás?</h3>
        <p>
          Igen, a <a href="{{ site.baseurl }}{% link trening.md %}">Komplett Arctorna Tréninggel</a> gyorsabban érhetsz
          el eredményeket. De a workshop kiváló bevezető a tréninghez.
        </p>
      </div>
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopXLarge">
      <img class="u-FlexImage" src="assets/images/supergroup.jpg" srcset="assets/images/supergroup.jpg 1x, assets/images/supergroup@2x.jpg 2x"
        alt="Mosolygó arctornázó lányok színes csoportja, és egy fiú" style="width: 400px;">
    </div>
  </section>
  <section class="c-Screen__Section c-Screen__Section--Alt">
    <div class="c-ContentBlock">
      <h2>Regisztráció</h2>
      <div class="c-Article">
        <p>
          A helyfoglaláshoz szükséges 4&nbsp;000&nbsp;Ft előleg, melyet kérek
          szépen előre átutalni. Az átutaláshoz szükséges adatokat a jelentkezés
          során fogod látni, de emailben is elküldöm. A fennmaradó
          összeget a workshopon kell fizetni.
        </p>
      </div>
    </div>
    <div class="c-ContentBlock u-MarginTopXLarge">
      <h3>Következő időpontok</h3>
      {% include events.html data = data.events.workshop price = data.workshop.price price_desc = data.workshop.price_desc %}
    </div>
    <div class="c-ContentBlock c-ContentBlock--Centered u-MarginTopLarge">
      <a class="c-Button" href="#">Regisztrálok</a>
    </div>
  </section>
  <section id="trening" class="c-Screen__Section c-Screen__Section--Training u-PaddingTop">
    <div class="c-ContentBlock c-ContentBlock--Centered">
      <h2>
        <small>
          <span class="u-AllCaps">Komplett</span> Arctorna</small>
        <br /> Tréning
        <sup>
          <small>®</small>
        </sup>
      </h2>
      <p class="u-TextAlignLeft">
        Ha igazán komolyan gondolod az arctornát, és a lehető leggyorsabban
        szeretnél fejlődni, csatlakozz a következő arctorna tréning csoporthoz,
        ahol lépésről lépésre, kemény gyakorlás közben mesterévé válsz az
        arcterületek edzésének. Az órákon a sok tanulás és kemény edzés mellett
        szuper társaság és vidám hangulat vár rád.
      </p>
      <div class="u-MarginTopLarge">
        <a href="{{ site.baseurl }}{% link trening.md %}" class="c-Button">Tréning</a>
      </div>
    </div>
  </section>
</main>
